


<app-header />

<main>
  <h1>Hello,  {{title}} :</h1>
  <ul id="users">
    @for (user of users; track user.id) {
      <li>
        <app-user [user]="user" (selectedToo)="onRandSelected($event)" (selected)="onUserSelected($event)" />
      </li>
    }
  </ul>
  <UL>
    @for (nummer of ace; track $index) {
      <li>
        <h2>nummer</h2>
      </li>
    }
  </UL>

  @if (selectedUser) {
    <app-tasks [randomcount]="randCount" [userId]="selectedUser.id" [name]="selectedUser.name" />
  } @else {
    <p id="fallback">Select a user to see their tasks!</p>
  }
</main>



<router-outlet />
